<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="static/style.css">
    <link href="https://fonts.googleapis.com/css2?family=Open+Sans:wght@400;600&display=swap" rel="stylesheet">
    <link type="text/css" href="static/style.css" rel="stylesheet"/>
</head>
<body>
    <div class="sidebar">
        <!-- logo -->
        <span class="logo">
            <img src="static/images/logo_2.png"  width="80" height="60"> 
            <h1>GourmetGo</h1>
        </span>
            
        <!-- list of menus -->
        <div class="sidebar-menus">
            <a href="http://127.0.0.1:5000/restaurant_homepage"><ion-icon name="storefront-outline"></ion-icon>Home</a>
            <a href="http://127.0.0.1:5000/accepted_orders"><ion-icon name="chatbubbles-outline"></ion-icon>Accepted Orders</a>
            <a href="http://127.0.0.1:5000/assign_da"><ion-icon name="notifications-outline"></ion-icon>Assign Delivery Agents</a>
            <a href="http://127.0.0.1:5000/manage_menu"><ion-icon name="settings-outline"></ion-icon>Manage Menu</a>
            <a href="http://127.0.0.1:5000/add_menu_category"><ion-icon name="settings-outline"></ion-icon>Add Menu Category</a>
        </div>

        <!-- logout -->
        <div class="sidebar-logout">
            <a href="/logout"><ion-icon name="log-out-outline"></ion-icon>Logout</a>
        </div>
    </div>
        <div class="table-container">
            <h1>Assign Delivery Agents</h1>
            <div id="message"></div><br>
            <table class="orders-table">
                <thead>
                    <tr>
                        <th>Order ID</th>
                        <th>Status</th>
                        <th>Restaurant Name</th>
                        <th>Action</th>
                    </tr>
                </thead>
                <tbody>
                    {% for order in prepared_orders_details %}
                        <tr>
                            <td>{{ order['order_id'] }}</td>
                            <td>{{ order['status'] }}</td>
                            <td>{{ order['restaurant_name'] }}</td>
                            <td>
                                <div>
                                    <select id="deliveryAgent{{ order['order_id'] }}">
                                        {% for agent_name in delivery_agent_names %}
                                            <option value="{{ agent_name }}">{{ agent_name }}</option>
                                        {% endfor %}
                                    </select><br><br>
                                    <button onclick="assign_da('{{ order['order_id'] }}')">Assign Delivery Agent</button>
                                </div>
                            </td>
                        </tr>
                    {% endfor %}
                </tbody>
            </table>
    </div>
</body>
</html>
<script type="module" src="https://unpkg.com/ionicons@7.1.0/dist/ionicons/ionicons.esm.js"></script>
<script nomodule src="https://unpkg.com/ionicons@7.1.0/dist/ionicons/ionicons.js"></script>
<script src="https://code.jquery.com/jquery-2.2.4.min.js"></script>
<script>
    function assign_da(orderId) {
        const delivery_agent = document.getElementById('deliveryAgent' + orderId).value;
    
        fetch(`/assign_delivery_agent/${orderId}`, {
            method: 'PUT',
            headers: {
                'Content-Type': 'application/json'
            },
            body: JSON.stringify({ delivery_agent_name: delivery_agent })
        })
        .then(response => {
            if (response.ok) {
                // Handle success - maybe show a message to the user
                message.textContent = `Delivery Agent assigned to order ${orderId}.`;
                window.location.href = `/assign_da`
            } else {
                // Handle error - maybe display an error message
                message.textContent = 'Failed to assign delivery agent';
            }
        })
        .catch(error => {
            console.error('Error:', error);
        });
    }
    
</script>