<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="static/style.css">
    <link href="https://fonts.googleapis.com/css2?family=Open+Sans:wght@400;600&display=swap" rel="stylesheet">
    <link type="text/css" href="static/style.css" rel="stylesheet"/>
</head>
<body>
    <div class="sidebar">
        <!-- logo -->
        <span class="logo">
            <img src="static/images/logo_2.png"  width="80" height="60"> 
            <h1>GourmetGo</h1>
        </span>
            
        <!-- list of menus -->
        <div class="sidebar-menus">
            <a href="http://127.0.0.1:5000/manage_restaurants"><ion-icon name="chatbubbles-outline"></ion-icon>Manage Restaurants</a>
            <a href="http://127.0.0.1:5000/manage_delivery_agents"><ion-icon name="notifications-outline"></ion-icon>Manage Delivery Agents</a>
            <a href="#"><ion-icon name="settings-outline"></ion-icon>Setting</a>
        </div>

        <!-- logout -->
        <div class="sidebar-logout">
            <a href="/logout"><ion-icon name="log-out-outline"></ion-icon>Logout</a>
        </div>
    </div>
    <div class="table-container">
        <h1>Delivery Agents</h1>
        <div id="message"></div><br>
        <table class="orders-table">
                <thead>
                    <tr>
                        <th>Delivery Agent ID</th>
                        <th>Delivery Agent Name</th>
                        <th>Delivery Agent Credentials</th>
                        <th>Delivery Agent Contact</th>
                    </tr>
                </thead>
                <tbody>
                    {% for delivery_agent in delivery_agents %}
                        <tr>
                            <td>{{ delivery_agent._id }}</td>
                            <td>{{ delivery_agent.delivery_agent_name }}</td>
                            <td>{{ delivery_agent.email_address }}<br>
                            {{ delivery_agent.password }}</td>
                            <td>{{delivery_agent.phone_number}}</td>
                        </tr>
                    {% endfor %}
                </tbody>
            </table>
            <div>
                <div "style=text-align:center">
                    <button class = "button" onclick="add_da(event)">Add Delivery Agent</button><br><br>
                    <button class="button" onclick="delete_da(event)">Delete Delivery Agent</button><br><br>
                </div> 
            </div>   
    </div>
</body>
</html>
<script type="module" src="https://unpkg.com/ionicons@7.1.0/dist/ionicons/ionicons.esm.js"></script>
<script nomodule src="https://unpkg.com/ionicons@7.1.0/dist/ionicons/ionicons.js"></script>
<script src="https://code.jquery.com/jquery-2.2.4.min.js"></script>
<script>
    function add_da(event) {
        event.preventDefault();
        window.location.href = `/render_add_deliveryagent`;
    }
    
    function delete_da(event) {
        event.preventDefault();
        window.location.href = `/render_delete_deliveryagent`;
    }
</script>