<!DOCTYPE html>
<html>
<head>
  <link type="text/css" href="static/style.css" rel="stylesheet"/>
</head>
<body>
    <!-- sidebar -->
    <div class="sidebar">
        <!-- logo -->
        <span class="logo">
        <img src="static/images/logo_2.png"  width="80" height="60"> 
        <h1>GourmetGo</h1>
        </span>
        
        <!-- list of menus -->
        <div class="sidebar-menus">
            <a href="http://127.0.0.1:5000/user_homepage"><ion-icon name="storefront-outline"></ion-icon>Home</a>
            <a href="http://127.0.0.1:5000/orders"><ion-icon name="chatbubbles-outline"></ion-icon>My Orders</a>
            <a href="#"><ion-icon name="chatbubbles-outline"></ion-icon>Contact Us</a>
            <a href="#"><ion-icon name="notifications-outline"></ion-icon>Notifications</a>
            <a href="#"><ion-icon name="settings-outline"></ion-icon>Setting</a>
        </div>

         <!-- logout -->
         <div class="sidebar-logout">
            <a href="/logout"><ion-icon name="log-out-outline"></ion-icon>Logout</a>
        </div>
    </div>
        <!-- Proceed to payment button -->
        <div class="small-container cart-page">
           <h1><p><i>No Items in Cart.</i></p></h1>
        </div>
</body>
</html>
<script type="module" src="https://unpkg.com/ionicons@7.1.0/dist/ionicons/ionicons.esm.js"></script>
<script nomodule src="https://unpkg.com/ionicons@7.1.0/dist/ionicons/ionicons.js"></script>
<script src="https://code.jquery.com/jquery-2.2.4.min.js"></script>