<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="static/user_style.css">
    <link href="https://fonts.googleapis.com/css2?family=Open+Sans:wght@400;600&display=swap" rel="stylesheet">
    <link type="text/css" href="static/style.css" rel="stylesheet"/>
</head>
<body>
    <div class="sidebar">
        <!-- logo -->
        <span class="logo">
            <img src="static/images/logo_2.png"  width="80" height="60"> 
            <h1>GourmetGo</h1>
        </span>
            
        <!-- list of menus -->
        <div class="sidebar-menus">
            <a href="http://127.0.0.1:5000/restaurant_homepage"><ion-icon name="storefront-outline"></ion-icon>Home</a>
            <a href="http://127.0.0.1:5000/manage_menu"><ion-icon name="notifications-outline"></ion-icon>Manage Menu</a>
            <a href="http://127.0.0.1:5000/accepted_orders"><ion-icon name="chatbubbles-outline"></ion-icon>Accepted Orders</a>
            
            <a href="#"><ion-icon name="settings-outline"></ion-icon>Setting</a>
        </div>

        <!-- logout -->
        <div class="sidebar-logout">
            <a href="/logout"><ion-icon name="log-out-outline"></ion-icon>Logout</a>
        </div>
    </div>
    <div class="content1">
        <div class="content2">
            Reset Password
        </div>
        <hr width="100%">
        <br>
        <p id="errorMessage" style="color: red;"></p>
        <form id="orderForm" method="POST" enctype="multipart/form-data">
        
            <table>
                <tr>
                    <td><span class="heading">Old Password</span></td>
                    <td><input class="input_name" type='password' id='old_password' required></td>
                </tr>
                <tr>
                    <td><span class="heading">New Password</span></td>
                    <td><input class="input_name" type='password' id='new_password' required></td>
                </tr>
                <tr>
                    <td><span class="heading">Confirm Password</span></td>
                    <td><input class="input_name" type='password' id='confirm_password' required></td>
                </tr>
            </table>
            <br>
            <button id="reset_password" class=".button" onclick="resetPassword(event)">Reset Password</button>

        </form>
    </div>    
</body>
</html>
<script type="module" src="https://unpkg.com/ionicons@7.1.0/dist/ionicons/ionicons.esm.js"></script>
<script nomodule src="https://unpkg.com/ionicons@7.1.0/dist/ionicons/ionicons.js"></script>
<script src="https://code.jquery.com/jquery-2.2.4.min.js"></script>
<script>
    function resetPassword(event) {
        event.preventDefault();
        
        var oldPassword = document.getElementById('old_password').value;
        var newPassword = document.getElementById('new_password').value;
        var confirmPassword = document.getElementById('confirm_password').value;
        var errorMessage = document.getElementById('errorMessage');
    
        // Check if new password and confirm password match
        if (newPassword !== confirmPassword) {
            errorMessage.textContent = "New password and confirm password don't match.";
            return;
        }

        // Send a POST request to update the password
        fetch('/update_password', {
            method: 'POST',
            headers: {
                'Content-Type': 'application/x-www-form-urlencoded'
            },
            body: `newPassword=${newPassword}&inputPassword=${oldPassword}`
        })
        .then(response => {
            if (response.ok) {
                window.location.href = '/restaurant_homepage';
            } else {
                return response.json();
            }
        })
        .then(data => {
            if (errorMessage) {
                errorMessage.textContent = data.error; 
            }
        })
        .catch(error => {
            console.error('Error:', error);
        });
    }
</script>